.card {
    width: 20%;
    height: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    
    
}

.card-content {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: $primary-400;
    border-radius: 5px;
    color: $primary-50;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;

}
.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    border-radius: 25%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;    
}

.card-content:hover {
    background-color: $tertiary-400;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.card-name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0rem;
}

.card-description {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0rem;
}

.card-title {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0rem;
}




@media screen and (max-width: 768px) {
    .card-name {
        font-size: 1rem;
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 0rem;
    }
    
    .card-description {
        font-size: 1rem;
        margin: 1rem;

    }
    
    .card-title {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 0rem;
    }

    .card {
        width: 50%;
        overflow-y: hidden;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

}