.CutContainer {
    height: fit-content;
    width: 100%;
    background-color: $primary-500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    p { 
        margin: 0;
        overflow-y: hidden;
        word-wrap: break-word;
    }

    p:first-child {
        width: fit-content;
        font-family: Playfair Display, serif;
        font-weight: 900;
        margin: 2rem;
        font-size: 2.5rem;
        text-align: left;
        
    }

    p:first-child {
        display: inline-block;
        position: relative;
        color: $primary-50;
      }
      
      p:first-child::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $tertiary-500;
        transform-origin: bottom right;
        transition: transform 1.3s ease-out;
      }
      
      p:first-child:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      p:last-child {
        align-self: center;
        margin: 0rem 2rem 2rem 2rem;
        
      }

}

.TextCutContainer {
    display: flex;
    flex-direction: column;
    background-color: $primary-500;

    p:first-child{
        color: $primary-50;
        font-size: 1.2rem;
        margin: 0;
        padding: 0rem 10rem 0rem 10rem;
    }
    .Join {
        align-self: center;
        margin-top:2rem ;
        width: fit-content;
        
    }
}


