body {
  font-family: Playfair Display;
}
.faq-Container {
  height: 100vh;
  font-family: Playfair Display;
  background-color: $primary-500;
  color: $primary-50;
  padding : 4rem 0 ;
  margin: 0 auto;
}

.main-title {
  padding-bottom: 2rem;
  font-weight: 500;
  text-align: center;
  align-items: center;
}
.main-title:hover {
transform:scale(1.1);
cursor: pointer;
transition: background-color 0.3s ease, transform 0.3s ease;
}
  

// .expendable-button {
//   background-color: transparent;
//   color: var(--gh-blue-5);
//   gap: 8px;
//   border: none;
//   cursor: pointer;
//   padding: 0 10px;
//   width: 2px;
//   margin-right: 10px;
// }