// Classes names : NewsContainer, NewsItem, NewsText
.News {
    h1 {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(180deg, rgba($primary-500,0.9) 0%, $primary_400 5%,$primary_400, 98%, rgba($primary-500,0.9) 100%);
}


.NewsContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $primary-400;
    color: $primary-50;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.NewsItem {
    height: calc(100% - 10rem) ;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: auto;
    color: $primary-50;
    overflow: hidden;
    background-color: rgba($primary-500, 0.3);
    transition: all 0.2s ease-in-out;
    padding: 2rem 0rem 2rem 0rem;

    img {
        height: auto;
        width: 10rem;
        border-right: 3px solid $primary-50;
        padding-right: 2rem;
    }


}

.NewsItem:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}

.NewsText {

    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;

}

@media screen and (max-width: 495px){
    .NewsContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .NewsItem {
        width: 80%;
        height: 50%;
        margin-bottom: 2rem;
    }

    .NewsItem img {
        width: 5rem;
        height: auto;
        border-right: 0px solid $primary-50;
        padding-right: 0rem;
        margin-bottom: 1rem;
    }

    .NewsText {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
    }

    .News {
        padding-top: 2rem;
        padding-bottom: 2rem;
        h1{
            font-size: 2rem;
            font-weight: 700;
            margin: auto;
        }
    }
}