$primary-500 : #171c3b;
$primary-400 : #454962;
$primary-300 : #64677c;
$primary-200 : #9497a5;
$primary-100 : #b7b9c2;
$primary-50 : #e8e8eb;

$secondary-500 : #5d7cfa;
$secondary-400 : #7d96fb;
$secondary-300 : #92a7fc;
$secondary-200 : #b4c3fd;
$secondary-100 : #cdd6fd;
$secondary-50 : #eff2ff;

$tertiary-500 : #a56eff;
$tertiary-400 : #b78cff;
$tertiary-300 : #c39aff;
$tertiary-200 : #d1a9ff;
$tertiary-100 : #ddc0ff;
$tertiary-50 : #f6f0ff;

$error-500 : #fc5c46;
$error-400 : #fd7d6b;
$error-300 : #fd9283;
$error-200 : #feb4aa;
$error-100 : #feccc6;
$error-50 : #ffefed;

$success-500 : #1cc98a;
$success-400 : #49d4a1;
$success-300 : #67dbb1;
$success-200 : #97e6c9;
$success-100 : #b9eedb;
$success-50 : #e8faf3;

$focus-500 : #80c2ff;
$focus-400 : #99ceff;
$focus-300 : #aad6ff;
$focus-200 : #c5e3ff;
$focus-100 : #d8ecff;
$focus-50 : #f2f9ff;