.AboutUs-Container {
  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: column;
}
.AboutUs-Img:hover {
   -webkit-transform: scale(1);
   transform: scale(1.1);
  box-shadow: rgba(226, 231, 234, 0.2) 0px 8px 24px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.part-Three-content {
  display: flex;
  padding: 3rem 3rem;
  text-align: center;
  align-items: center;
  color: $primary-50 ;
  justify-content: space-around;
  font-size: 1.5em;
  text-align: left;
}
  // Part Five 
.part-five {
  background-color: $primary-500;
  color: $primary-50 ;
}


// .partfive-imgs {
// display: flex;
// flex-direction: row;
// flex-wrap: wrap;
// width: 263px;
// height: 592px;;
// }
